NEXT_PUBLIC_SUPABASE_URL=https://nvxejaaweiykmzweknqy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52eGVqYWF3ZWl5a216d2VrbnF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyNDUxNjEsImV4cCI6MjA5NjgyMTE2MX0.NLmqnYm7bURQ-8AbFKVMDaixWoN6chX026v6WeTxKJ8
NEXT_PUBLIC_SITE_URL=